.hd-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hd-scroll::-webkit-scrollbar {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.section_title {
  position: relative;
  padding-left: 1.1rem;
  margin-bottom: 0.3rem;
}

.section_title::before {
  content: "";
  background-color: #ff4c61;
  border-radius: 1rem;
  height: 1.7rem;
  width: 0.6rem;
  position: absolute;
  left: 0;
  top: 0;
}

.card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}

td,
th {
  padding: 0.5rem;
}

.loading {
  filter: blur(10px);
  clip-path: inset(0);
}
.loaded {
  filter: blur(0px);
  transition: filter 0.5s linear;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: #ff4c61;
  --swiper-navigation-size: 1.2rem;
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.imagehover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
}

.imagehover:hover::after {
  background-color: rgb(2 6 23 / 0.6);
  transition: all 150ms;
}

.h-screen-navbar {
  min-height: calc(100vh - 65px);
}
