.hd-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hd-scroll::-webkit-scrollbar {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.section_title {
  position: relative;
}

.section_title::before {
  content: "";
  background: url(./assets/svg/dots-bg.svg);
  height: 2rem;
  width: 2rem;
  position: absolute;
  left: -0.5rem;
  top: -0.2rem;
}

.card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}

td,
th {
  padding: 0.5rem;
}
