.rsw-ce ol {
  list-style-type: decimal !important;
  margin-left: 1.6rem !important;
}

.rsw-ce ul {
  list-style: disc !important;
  margin-left: 1.6rem !important;
}
.rsw-editor {
  border-radius: 1.2rem !important;
}

.error .rsw-editor {
  --tw-border-opacity: 1;
  border-color: #ff4c61 !important;
}

.borderdisable {
  border-color: #ff4c61 !important;
}
